<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="search-container">
  <h2>Search Movies</h2>
  <form action="/search" method="GET">
    <input type="text" name="title" placeholder="Search for a movie..." required />
    <button type="submit">Search</button>
  </form>
</div>

<div class="results-container">
  <% if (movies.length > 0) { %>
    <ul class="movie-list">
      <% movies.forEach(movie => { %>
        <li class="movie-item">
          <a href="/movie/<%= movie.imdbID %>">
            <img src="<%= movie.Poster !== 'N/A' ? movie.Poster : '/images/noPoster.webp' %>" alt="<%= movie.Title %> Poster">
          </a>
          <div>
            <h3><%= movie.Title %> (<%= movie.Year %>)</h3>
            <form action="/add-to-watchlist" method="POST">
              <input type="hidden" name="imdbID" value="<%= movie.imdbID %>" />
              <input type="hidden" name="title" value="<%= movie.Title %>" />
              <input type="hidden" name="year" value="<%= movie.Year %>" />
              <input type="hidden" name="poster" value="<%= movie.Poster %>" />
              <button type="submit">Add to Watchlist</button>
            </form>
          </div>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No results found.</p>
  <% } %>
</div>

<%- include('partials/footer') %>
